# dependencies
node_modules/
.pnpm-store/

# logs
*.log

# non-public environment variables
.env.local
.env.*.local

# caches
.eslintcache
.prettiercache
.stylelintcache
*.tsbuildinfo

# misc
.DS_Store
.idea/

# astro
dist/
.astro/
