---
import "tailwindcss/tailwind.css";

import { Keystatic } from "../../lib/keystatic/page";

export const prerender = false;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Keystatic</title>
	</head>
	<body>
		<Keystatic client:load />
	</body>
</html>
